<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Acest fisier este generat automat de XcodeGen din project.yml -->
    <!-- NU edita aici - editeaza in project.yml -->
</dict>
</plist>
